@charset "utf-8";
/* Some default settings */
* {
    font-family: "ubuntu", "ubuntu-regular", sans-serif;
    font-size: 1em;
}

body {
    background-color: black;
    background-image: url("../img/bg20.gif");
    color: silver;
    margin: 0;
}

header {
    background          : rgb(27,117,188);
    background          : linear-gradient(to bottom, rgb(27,117,188) 0,rgb(21,89,143) 100%);
    color               : white;
    text-transform      : uppercase;

    display             : flex;
    flex-direction      : row;
    flex-wrap           : nowrap;
    justify-content     : space-between;
    align-items         : center;

    /* old IOS browser support */
    display                 : -webkit-flex;
    -webkit-flex-direction  : row;
    -webkit-flex-wrap       : nowrap;
    -webkit-justify-content : space-between;
}

header h1 {
    font-size: 1.4em;
    margin-left: 0.5em;
    text-shadow: 1px 1.5px 2px rgba(0,0,0,.9);
}

header img {
    height: 2em;
}

#main {
    display             : flex;
    flex-direction      : row;
    flex-wrap           : nowrap;
    justify-content     : flex-start;
    align-items         : stretch;

    /* old IOS browser support */
    display                 : -webkit-flex;
    -webkit-flex-direction  : row;
    -webkit-flex-wrap       : nowrap;
    -webkit-justify-content : flex-start;
    -webkit-align-items     : stretch;
}

#main section {
    padding: 5px;
}

#list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#list li {
    margin: 0;
    margin-top: 0.5em;
    padding: 0;
    background: white;
    color: black;
}

#list li:first-child {
    margin-top: 0;
}

#list li h3 {
    color: rgb(55,108,190);
}

#display {
    
}

/*
Copyright 2015 Pieter van der Eems
This file is part of CreateFate
CreateFate is free software: you can redistribute it and/or modify
it under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
CreateFate is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
Affero GNU General Public License for more details.
You should have received a copy of the Affero GNU General Public License
along with CreateNPC. If not, see <http://www.gnu.org/licenses/>.
*/
