body {
    display: grid;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    grid-template-columns: repeat(10, 1fr);
    grid-template-areas:
        "naw naw naw naw naw naw naw logo logo logo"
        "aspects aspects aspects aspects skills skills skills skills skills skills"
        "extras extras extras extras stunts stunts stunts stunts stunts stunts"
        "stress stress stress consequences consequences consequences consequences consequences consequences consequences";
}

* + * {
    margin: 0;
}

.naw {
    grid-area: naw;
    display: grid;
    grid-template-columns: 6fr 1fr;
    grid-template-rows: 1fr 1fr 3fr;
    grid-template-areas:
        "naw_header naw_header naw_header"
        "name refresh"
        "description refresh";
}

.logo {
    grid-area: logo;
}

.header {
    color: white;
    background-color: black;
    margin-left: 1em;
    text-transform: uppercase;
}

.naw .header {
    grid-area: naw_header;
}

.name {
    grid-area: name;
}

.refresh {
    grid-area: refresh;
}

.description {
    grid-area: description;
}
